*{font-family:italic,Helvetica,Arial,"Heiti SC","Microsoft YaHei"}
body,html{margin:0;padding:0}
body{margin-left:calc(100vw - 100%)!important;-webkit-text-size-adjust:none}
html::-webkit-scrollbar{width:10px;height:6px}
html::-webkit-scrollbar-thumb{border-radius:4px;background-color:#a5a5a5}
html::-webkit-scrollbar-track-piece{background:#eee}
.red{color:red}
.hide{display:none!important}
.show-block{display:block!important}
.show-block{animation:showBlock .4s forwards;display:block!important}
@keyframes showBlock{from{opacity:0;transform:translateY(-100%)}
to{opacity:1;transform:translateY(0)}
}
.hide-block{display:block!important;animation:hideBlock .4s forwards;opacity:1;transform:translateY(0)}
@keyframes hideBlock{from{opacity:1;transform:translateY(0)}
to{opacity:0;transform:translateY(-100%);display:none}
}
.show-flex-fade{animation:showFade .4s forwards;display:flex!important}
.hide-flex-fade{animation:hideFade 1s forwards}
@keyframes showFade{from{opacity:0}
to{opacity:1}
}
@keyframes hideFade{from{opacity:1}
to{opacity:0;display:none!important}
}
.indent{text-indent:2em!important}
.indent h1,.indent h2,.indent h3,.indent h4,.indent h5,.indent h6,.indent ol,.indent p,.indent ul{text-indent:2em!important}
.nav{position:relative;padding-top:50px;color:#333;width:100%;display:flex;flex-direction:column;align-items:center}
.nav .avatar-name{display:flex;flex-direction:column;align-items:center;border-bottom:1px solid #979797}
.nav .avatar-name .avatar{width:120px;height:120px;padding:10px;box-sizing:border-box}
.nav .avatar-name .avatar img{width:100px;height:100px}
.nav .avatar-name .radius img{border-radius:50%}
.nav .avatar-name .name{margin-top:10px;margin-bottom:20px}
.nav .avatar-name .name i{font-size:16px;font-family:italic!important;font-weight:300;color:#666}
.nav .contents ul{width:100%;padding-left:0;margin-top:25px;margin-bottom:25px}
.nav .contents ul li,.nav .contents ul li a{text-decoration:none;font-size:15px;margin:20px auto;padding-left:0;list-style:none}
.nav .contents ul li a i,.nav .contents ul li i{cursor:pointer;color:#999;margin-right:5px}
.nav .contents ul li a span,.nav .contents ul li span{cursor:pointer;color:#999}
.nav .contents ul li.active i,.nav .contents ul li.active span{color:#4a4a4a}
.nav .contents ul li:hover i,.nav .contents ul li:hover span{color:#4a4a4a}
.site-nav-toggle{display:none}
.site-nav-toggle button{outline:0;margin-top:2px;padding:9px 10px;background:0 0;border:none;user-select:none}
.site-nav-toggle button .btn-bar{display:block;width:22px;height:2px;background:#666;border-radius:1px}
.site-nav-toggle button .btn-bar+.btn-bar{margin-top:4px}
.search-field{overflow:hidden;display:none;position:fixed;top:0;bottom:0;z-index:3;left:0;right:0;width:100vw;height:100vh;background-color:rgba(0,0,0,.3);align-items:center;flex-direction:column}
.search-field .search-container{width:40vw;min-width:500px;margin-top:15vh;background-color:#fff}
.search-field .search-container .search-input{width:100%;display:flex;align-items:center;position:relative}
.search-field .search-container .search-input span{color:#999;cursor:pointer;top:50%;right:10px;width:20px;height:20px;font-size:16px;margin-top:-10px;position:absolute;text-align:center;display:inline-block}
.search-field .search-container .search-input input{width:100%;border:none;outline:0;font-size:16px;-webkit-box-shadow:none;box-shadow:none;font-weight:200;border-radius:0;background:#fff;line-height:20px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:12px 28px 12px 20px;border-bottom:1px solid #e2e2e2;font-family:"Microsoft Yahei Light","Microsoft Yahei",Helvetica,Arial,sans-serif}
.search-field .search-result-container{height:calc(70vh - 50px);overflow-y:scroll;overflow-x:hidden;background:#f7f7f7}
.search-field .search-result-container::-webkit-scrollbar{width:4px}
.search-field .search-result-container .no-search-result{width:100%;height:200px;text-align:center;padding-top:100px;color:#999;font-size:16px}
.search-field .search-result-container::-webkit-scrollbar-thumb{background-color:#c3c4c7;-webkit-border-radius:2px;border-radius:2px}
.ins-selectable{cursor:pointer}
.ins-section .ins-section-header{color:#9a9a9a!important;border-bottom:1px solid #e2e2e2}
.ins-section .ins-search-item,.ins-section .ins-section-header{padding:8px 15px}
.ins-section .ins-search-item .ins-search-preview,.ins-section .ins-search-item div.header{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.ins-section .ins-search-item .ins-search-preview{height:18px;font-size:12px;color:#9a9a9a!important;margin:5px 0 0 20px}
.ins-section .ins-search-item.active,.ins-section .ins-search-item:hover{color:#fff!important;background:#006bde}
#search-result-container .iconfont{margin-right:4px}
#esc-search:hover{color:#006bde}
.search-keyword{color:#555;font-size:14px;font-weight:700;}
@media screen and (max-width:680px){.search-field .search-container{min-width:0;width:100%;height:100%;margin:0}
.search-field .search-result-container{height:calc(100vh - 50px)}
.nav{margin-top:50px;position:relative;top:0;width:100%}
.nav .avatar-name{border-bottom:none}
.nav .contents{display:none;position:fixed;left:0;top:40px;background-color:#fff;width:100%;border-bottom:1px solid #ccc;border-top:1px solid #ccc}
.nav .contents ul{padding-left:30px}
.site-nav-toggle{height:40px;box-sizing:border-box;display:block;position:fixed;width:100%;padding-top:2px;padding-left:20px;z-index:2;background-color:#fff}
}
.post-preview{width:100%;height:max-content;margin-bottom:10px;box-sizing:border-box;display:flex;flex-direction:row}
.post-preview .post-time{font-size:17px;color:#999;width:125px;font-weight:300;line-height:24px}
.post-preview .post-info{flex:1}
.post-preview .post-info a{cursor:pointer;text-decoration:none}
.post-preview .post-info a h3{line-height:24px;cursor:pointer;margin-top:0;margin-bottom:5px;color:#101010;font-size:18px;font-weight:300;transition:color .4s}
.post-preview .post-info a h3:hover{color:#4990e2}
.post-preview .post-info p{margin-top:0}
.post-preview .post-info p a,.post-preview .post-info p span{font-weight:300;color:#999;font-size:14px;text-decoration:none}
.post-preview-container{min-height:420px}
.pager{width:100%;height:40px;padding-left:0;display:flex;flex-direction:column;align-items:center;margin-bottom:30px}
.pager .next{cursor:pointer;box-sizing:border-box;cursor:pointer;transition:color .4s,background-color .4s;line-height:40px;width:150px;height:40px;font-size:18px;color:#d2d2d2;text-align:center;text-decoration:none}
.pager .next:hover{color:#999;cursor:pointer}
@media screen and (max-width:680px){.post-preview-container{min-height:0!important}
.post-preview{width:100%;height:max-content;margin-bottom:10px;box-sizing:border-box;display:flex;flex-direction:column;padding-left:10px;padding-right:10px;border-bottom:1px solid #eee}
.post-preview .post-time{font-size:11px;color:#999;width:125px;font-weight:300;line-height:20px;font-style:oblique}
.post-preview .post-info{flex:1}
.post-preview .post-info a{cursor:pointer;text-decoration:none}
.post-preview .post-info a h3{line-height:20px;cursor:pointer;margin-top:0;margin-bottom:5px;color:#101010;font-size:15px;font-weight:300}
.post-preview .post-info p{margin-top:0}
.post-preview .post-info p a,.post-preview .post-info p span{font-weight:300;color:#999;font-size:12px;text-decoration:none}
.pager{width:100%;height:40px;display:flex}
.pager .next{flex-direction:row-reverse;cursor:pointer}
.pager .next a{box-sizing:border-box;cursor:pointer;transition:color .4s,background-color .4s;border:1px solid #999;line-height:30px;width:120px;height:30px;font-size:14px;color:#999;text-align:center;text-decoration:none}
.pager .next a:hover{color:#fff;cursor:pointer;background-color:#666}
}
.tags{line-height:30px;margin-bottom:25px}
.tags a{text-decoration:none;color:#999;margin-right:15px}
.tags a:hover{color:#4a4a4a}
.tags a::before{content:"#"}
.one-tag-list{margin-bottom:25px}
.one-tag-list .fa-tag{margin-bottom:15px;display:block;color:#999}
.one-tag-list .post-preview{padding-left:2em}
.one-tag-list .post-preview a{cursor:pointer;text-decoration:none}
.one-tag-list .post-preview a .post-title{margin-bottom:5px;line-height:20px;cursor:pointer;margin-top:0;color:#101010;font-size:18px;font-weight:300;transition:color .4s}
.one-tag-list .post-preview a .post-title:hover{color:#4990e2}
@media screen and (max-width:680px){.one-tag-list{margin-bottom:25px}
.one-tag-list .fa-tag{margin-bottom:15px;display:block;color:#999}
.one-tag-list .post-preview{padding-left:2em}
.one-tag-list .post-preview a{cursor:pointer;text-decoration:none}
.one-tag-list .post-preview a .post-title{font-size:14px;font-weight:300;text-decoration:none;line-height:20px;color:#4a4a4a;margin-bottom:5px;cursor:pointer;margin-top:0;transition:color .4s}
.one-tag-list .post-preview a .post-title:hover{color:#4990e2}
}
.post-container{width:100%;height:max-content;display:flex;flex-direction:column}
.post-container .post-title{width:100%;text-align:center;line-height:24px;margin-top:0;margin-bottom:5px;color:#101010;font-size:20px;font-weight:300}
.post-container .post-meta{text-align:center;margin-top:0;margin-bottom:20px}
.post-container .post-meta a,.post-container .post-meta span{font-weight:300;color:#999;font-size:13px;text-decoration:none}
.post-container .post-meta .attr{margin-right:5px;margin-left:5px}
.post-content{line-height:20px;font-size:15px;color:#333;font-weight:300}
.post-content>table,.post-content>table tr td,.post-content>table tr th{border:1px solid #e7e8e9}
.post-content table{border-collapse:collapse}
.post-content blockquote{border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-left:2em;margin-right:2em;padding-left:0;padding-right:0}
.post-content blockquote p{margin-top:10px;margin-bottom:10px;color:#666}
.post-content a{text-decoration:none;color:#4990e2}
.post-content p{color:#404040;font-size:14px;line-height:30px;letter-spacing:1px}
.post-content p img{width:80%}
.post-content ol,.post-content ul{padding-left:2em}
.post-content ol li,.post-content ul li{list-style:none;color:#404040;font-size:14px;line-height:30px;letter-spacing:1px;margin-bottom:5px;margin-top:5px}
.post-content ol li:before,.post-content ul li:before{content:'• '}
.post-content pre{text-indent:0;padding:0;white-space:pre-wrap}
.post-content pre code{line-height:175%}
.post-content h1{color:#333;margin-top:20px;margin-bottom:20px}
.post-content h2{color:#333;margin-top:20px;margin-bottom:20px}
.post-content h3{color:#333;margin-top:20px;margin-bottom:20px}
.post-content h4{color:#333;margin-top:20px;margin-bottom:20px}
.post-content h5{color:#333;margin-top:20px;margin-bottom:20px}
.post-content h6{color:#333;margin-top:20px;margin-bottom:20px}
.post-content figcaption{text-align:center}
#comment-container{text-indent:0}
#lv-container{text-indent:0}
.post-content li p{display:inline}
.index-about{text-align:center;width:100%;margin-top:45px;margin-bottom:40px;opacity:0;animation:showBlock 1.6s forwards}
.index-about i{font-size:15px;font-family:italic!important;font-weight:300;color:#444}
.index-about-mobile{display:none}
.index-container{justify-content:center;height:max-content;position:relative;width:1024px;margin:auto;display:flex;flex-direction:row;background-color:#fff}
.index-container .index-left{width:240px}
.index-container .index-middle{max-width:784px;flex:1}
@media screen and (max-width:1180px){.index-container{left:0;width:100%;box-sizing:border-box;margin:auto;padding:0 40px 0 10px;display:flex;flex-direction:row}
.index-container .index-left{width:180px}
.index-container .index-middle{flex:1;max-width:calc(100% - 180px)}
}
@media screen and (max-width:680px){.index-container{width:100%;box-sizing:border-box;margin:auto;display:flex;flex-direction:column;padding:0 25px 0 25px;min-height:0}
.index-container .index-left{width:100%}
.index-container .index-middle{max-width:100%;flex:1}
.index-about{display:none}
.index-about-mobile{display:block;text-align:center;width:100%;margin-top:0;margin-bottom:40px}
.index-about-mobile i{font-size:15px;font-family:italic!important;font-weight:300;color:#444}
}
.donate-container{width:100%;display:flex;align-items:center;flex-direction:column}
.donate-container .donate-button{margin-bottom:10px;text-align:center;display:flex;align-items:center;flex-direction:column}
.donate-container .donate-button button{border:none;cursor:pointer;box-shadow:none;outline:0;border-radius:6px;width:60px;height:24px;text-align:center;color:#fff;background-color:orange}
.donate-container .donate-button button:active{background-color:#ff8c00}
.donate-container .donate-img-container{display:flex;align-items:center;flex-direction:column}
.donate-container .donate-img-container img{max-width:400px;max-height:360px}
.donate-container .donate-img-container p{text-align:center;font-size:14px;color:#999}
@media screen and (max-width:680px){.donate-container .donate-img-container img{max-width:75vw;max-height:240px}
.donate-container .donate-img-container p{text-align:center;font-size:14px;color:#999}
}
.archives-container .one-tag-list .listing-seperator{font-size:18px;color:#999}
.archives-container .one-tag-list ul{list-style:none}
.archives-container .one-tag-list ul li{display:flex;align-items:center;flex-direction:row;margin-bottom:10px}
.archives-container .one-tag-list ul li span{color:#999;margin-right:15px;min-width:45px}
.archives-container .one-tag-list ul li a{text-decoration:none;line-height:20px;color:#4a4a4a}
.archives-container .one-tag-list ul li a span{color:#4a4a4a;transition:color .4s}
.archives-container .one-tag-list ul li a span:hover{color:#4990e2}
@media screen and (max-width:680px){.archives-container .one-tag-list .listing-seperator{font-size:18px;color:#999}
.archives-container .one-tag-list ul{list-style:none;padding-left:1em}
.archives-container .one-tag-list ul li{display:flex;align-items:center;flex-direction:row;margin-bottom:10px}
.archives-container .one-tag-list ul li span{color:#999;margin-right:15px;min-width:45px;font-size:14px}
.archives-container .one-tag-list ul li i{font-size:12px}
.archives-container .one-tag-list ul li a{font-size:14px;font-weight:300;text-decoration:none;line-height:20px;color:#4a4a4a}
.archives-container .one-tag-list ul li a span{color:#4a4a4a}
}
.footer{width:100%;align-items:center;display:flex;flex-direction:column;color:#979797;margin-bottom:10px}
.footer p{font-family:Montserrat,"Helvetica Neue","Hiragino Sans GB","LiHei Pro",Arial,sans-serif;font-size:14px;margin-top:5px;margin-bottom:0;font-weight:300;margin-right:20px;word-break:break-all;margin-left:20px}
.footer p a{font-weight:300;font-family:Montserrat,"Helvetica Neue","Hiragino Sans GB","LiHei Pro",Arial,sans-serif;cursor:pointer;color:#333}
.footer p span a{font-weight:300;font-family:Montserrat,"Helvetica Neue","Hiragino Sans GB","LiHei Pro",Arial,sans-serif;cursor:pointer;color:#979797;text-decoration:none}
.footer p span a:hover{color:#333}
.list-inline.text-center{color:#444;font-size:20px;padding-left:0;margin-bottom:0}
.list-inline.text-center li{display:inline-block;margin:0 2px;background-color:#979797;height:24px;width:24px;border-radius:12px;text-align:center}
.list-inline.text-center li a{text-decoration:none}
.list-inline.text-center li a span i{line-height:20px;color:#fff}
.list-inline.text-center li:hover{background-color:#333}
@media screen and (max-width:680px){.footer{box-sizing:border-box;padding-left:20px;padding-right:20px}
.footer p{word-break:break-all;font-family:Montserrat,"Helvetica Neue","Hiragino Sans GB","LiHei Pro",Arial,sans-serif;font-size:11px;margin-top:5px;margin-bottom:0;font-weight:300;margin-right:20px;margin-left:20px}
.footer p span a{font-size:11px;font-weight:300;font-family:Montserrat,"Helvetica Neue","Hiragino Sans GB","LiHei Pro",Arial,sans-serif;cursor:pointer;color:#979797;text-decoration:none}
.footer p span a:hover{color:#333}
}
.toc-article{width:240px}
.toc-article::-webkit-scrollbar{width:0}
.toc-article::-webkit-scrollbar-thumb{background-color:transparent;-webkit-border-radius:4px;border-radius:2px}
.toc-article ol{padding-left:10px;cursor:pointer;font-size:0}
.toc-article li{font-size:0;box-sizing:border-box;border-left:2px solid #ccc;list-style:none;padding-left:10px}
.toc-article li a{display:block;line-height:20px;margin-bottom:10px;text-decoration:none;color:#999;font-size:14px}
.toc-article li a span{word-break:break-all}
.toc-article li.active{border-left:2px solid #4990e2}
.toc-article li.active>a{color:#4990e2}
.toc-article li:hover{border-left:2px solid #4990e2}
.toc-article li:hover>a{color:#4990e2}
.toc-article>ol>li{border-left:none!important}
.toc-fixed{position:fixed;top:10px;width:240px}
.toc-fixed::-webkit-scrollbar{width:0}
.toc-fixed::-webkit-scrollbar-thumb{background-color:#fff;-webkit-border-radius:4px;border-radius:2px}
@media screen and (max-width:1180px){.toc-article{display:none}
}
.tag a:before{content:' '}
.tag a:after{content:' /'}
.backToTop{display:none;width:18px;line-height:1.2;padding:5px 0;background-color:#000;color:#fff;font-size:12px;text-align:center;position:fixed;right:10px;bottom:100px;cursor:pointer;opacity:.6;filter:Alpha(opacity=60);z-index:999}
.post-up{animation:upin .6s;-webkit-animation:upin .8s ease}
@keyframes upin{0%{opacity:0;transform:translateY(30px)}
100%{opacity:1;transform:translateY(0)}
}
.comment-respond,.comments{position:relative;animation:upin .3s;-webkit-animation:upin .5s ease}
.comments{margin-bottom:30px}
#comment-form{margin-top:20px}
#submit,#textarea,.anu,.text{padding:.5em;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid rgba(0,0,0,.1);font-size:.875em;word-wrap:break-word;outline:0;-webkit-appearance:none;background:#fff;border-radius:5px}
#textarea{width:100%}
.text{width:25%;margin-right:1%}
.anu{margin:0;margin-right:10px}
#submit{width:22%;cursor:pointer}
#submit:hover{background:#4a4a4a;color:#fff}
.comment-input{display:flex}
#textarea:focus,.text:focus{border-color:#939090;outline:0}
.comment-list{list-style:none}
#hf{display:none}
.cancel-comment-reply{height:30px;line-height:30px;background:#fff;padding:0 30px 0 10px;position:absolute;right:10px;top:-20px;pointer-events:none;max-width:calc(100% - 20px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-radius:10px;box-shadow:0 5px 10px 0 rgba(0,0,0,.02);border:1px solid rgba(0,0,0,.1)}
#cancel-comment-reply-link{pointer-events:all;position:absolute;right:0;bottom:0;height:30px;text-align:center;width:30px;line-height:28px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:700;color:#9a9a9a}
.comments .author_name,.comments a{line-height:20px;text-decoration:none;color:#4a4a4a}
.comments a:hover{color:#4990e2}
.comment-time{opacity:.5;font-size:10px}
.comment-reply{font-size:14px}
.hljs{display:block;background:#f8f8f8;color:#333;overflow-x:auto}
.hljs-comment,.hljs-meta{color:#969896}
.hljs-emphasis,.hljs-quote,.hljs-string,.hljs-strong,.hljs-template-variable,.hljs-variable{color:#df5000}
.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#a71d5d}
.hljs-attribute,.hljs-bullet,.hljs-literal,.hljs-symbol{color:#0086b3}
.hljs-name,.hljs-section{color:#63a35c}
.hljs-tag{color:#333}
.hljs-attr,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-title{color:#795da3}
.hljs-addition{color:#55a532;background-color:#eaffea}
.hljs-deletion{color:#bd2c00;background-color:#ffecec}
.hljs-link{text-decoration:underline}
.hljs-ln-numbers{padding-left:10px;padding-right:10px;color:#869194;text-align:center;background-color:#eff2f3;vertical-align:top}
.hljs-ln-code{padding-left:10px}
